@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.body{
	background-image: url(../dist/img/fondh.png);
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	width: 88%;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	min-height: 50vh;
}
.cardSec{
	background-image: url(../dist/img/fondh.png);
}

#playList{
	background: white;
	border-radius: 10px;
	padding-left: 30px;
	text-align: left;
	opacity: 0.8;
	color: #F2843F;
	
}
 
li{
	padding: 10px;
}

li:hover, svg:hover {
	cursor: pointer;
	color: #F6DE7E;
}

li.active{
	color: #F6DE7E;
}

#controls{
	border: 1px #eee solid;
	border-radius: 10px;
	padding: 10px;
	background: white;
	opacity: 0.8;
}

svg{
	color: #F2843F;
	max-width: 100px;
}

progress{
	width: 80%;
	margin: 10px;
	opacity: 0.5;

}

.timer{
	width:35%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: black;
}

.volumen{
	width:65%;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: black;
	margin-bottom:20px;
}

#currentPlay{
	color: black;
}

h3{
	color: black;
	margin:0px;
}

@media screen and (max-width: 575px){
    svg{
		color: #F2843F;
		max-width: 80px;
	}

	.timer{
		width:35%;
	}

	.volumen{
		width:65%;
	}

	.body{
		font-size: 0.9em;
	}
}

